
.chelsea_section {
    
    background-image: url("https://i.imgur.com/clg9XNb.jpg");
    border-style: dotted dashed solid double;
    display: flex;
    font-style:oblique
    

}

li {
    color:crimson;
    font-size: 20px;
    
}

.section_title {
    color:seagreen;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:xx-large;

}
.html {
    color:royalblue
}

.flex-container {

    display: fliex;
    justify-content: right;


}
