@import url('zach.css');
@import url('chelsea.css');
@import url('colin.css');
@import url('mitchell.css');


.header {
    text-align: center;
    border-bottom: solid 2px yellow;
    color: white;
} 